* { box-sizing: border-box;}
html {
  color-scheme: dark;
}
body {
  font-family: system-ui, sans-serif;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  position: relative;
}
body::after{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: blur(20px);
  background-image:  url('./img/background.jpg');
  background-size: cover;
  background-position: bottom;
}
.container{
  width: fit-content;
  margin-inline: auto;
  padding: 2em;
  background: black;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: row;
}
.title{
  display: flex;
  align-items: center;
  gap: 1em;
  margin-inline: auto;
  width: fit-content;
}
.title h1 {
  margin: 0;
}
.title .logo {
  display: grid;
  height: 2em;
}
.title .logo img {
  height: 2em;
}
.socials{
  margin-block: 2em;
  margin-inline: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1em;
  text-align: left;
}
.social-item{
  padding: 0.5em 1em ;
  gap: 0 1em;
  border-radius: 1em 0 0 0;
  border: 4px solid red;
  border-width: 4px 0 0 4px;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  text-decoration: none;
  color: white;
  background: linear-gradient(transparent 50%, red 0);
  background-size: 100% 200%;
  transition: background-position 0.25s ease-in-out;
}
.social-item:hover, 
.social-icon:focus{
  background-position: 0 -100%;
}

.social-icon {
  grid-row-end: span 2;
  place-self: center;
  display: grid;
  height: 100%;
  place-items: center;
  
}
.social-icon img { width: 80%; height: 80%; object-fit: contain}

.social-name {
  font-size: 1.25em;
}
.social-link {
  font-size: 0.75em
}
.contact {
  color: white;
  font-size: 0.75em;
  align-self: end;
}